form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  full-calendar {
    max-width: 900px;
    margin: 40px auto;
  }
  .my-custom-event {
    padding: 10px;
    color: white;
    background-color: #007bff;
    overflow: hidden;  // Add this line
    text-overflow: ellipsis;  // Add this line
    white-space: nowrap;  // Add this line
    max-width: 100%;  // Add this line
  }
  
  .my-custom-event-title {
    font-weight: bold;
  }
  
  .my-custom-event-time {
    font-size: 0.8em;
  }

 
mat-toolbar {
    .example-spacer {
      flex: 1 1 auto;
    }
  
    .spacer {
      flex: 1 1 auto;
    }
  
    .search-container {
      justify-content: center;
      width: 50%;
      margin-top: 2%;
    }
  
    .example-full-width {
      width: 90%;
      height: 90%;
    }
  
    mat-icon {
      color: rgba(254, 253, 253, 0.941);
    }
  }
 
  
  mat-drawer {
    width: 250px;
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3);
  }
  
 
  mat-drawer {
    width: 250px;
    max-width: 250px;
    background-color: #ff6961; /* pastel red */
    font-family: 'Sans-serif';
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3);
  
    h2 {
      color: #fff;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
  
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
 
  .form-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;  /* Add 20px of padding at the top and bottom */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* ... rest of the CSS ... */
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-field label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .button {
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .button:hover {
    background-color: #303f9f;
  }  
  
 
  
 
