<div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <img src="https://continentalhospitals.com/images/slides/1aacccd507c773c0c880df7562bcc6df.jpg" alt="Logo" class="logo" >
        <mat-card-content>
          <form>
            <mat-form-field class="full-width">
              <mat-label>Username</mat-label>
              <input matInput type="text" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password" required>
            </mat-form-field>
            <button mat-raised-button color="primary" class="full-width" routerLink="/home">Login</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>